.App {
  text-align: center;
}

.App-header {
  padding: 3%;
  font-family: 'Shrikhand', cursive;
  font-size: 500%;
  color: #e6e6e6;
}

.Input-Form{
  padding: 1%;
  padding-top: 3%;
}

.Main-Panel{
  padding: 3%;
  background-image: url("./images/hypnotize.png");
}
