.App {
  text-align: center;
}

.App-header {
  /*height: 1%;*/
  padding: 2%;
  font-family: 'Shrikhand', cursive;
  font-size: 500%;
  color: #e6e6e6;
}

.Input-Form{
  padding: 1%;
}

.Main-Panel{
  padding: 2%;
  background-image: url("./images/hypnotize.png");
}
